<phpunit colors="true" verbose="true">
    <testsuites>
        <testsuite name="counter">
            <file>tests/CounterTest.php</file>
        </testsuite>
        <testsuite name="math">
            <file>tests/MathTest.php</file>
        </testsuite>
        <testsuite name="person">
            <file>tests/PersonTest.php</file>
        </testsuite>
        <testsuite name="product">
            <file>tests/ProductServiceTest.php</file>
        </testsuite>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>